<div class="card">
  <h2>Login</h2>
  <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
    <div class="mb-3">
      <label>Email:</label>
      <input type="email" class="form-control" name="email" ng-model="credentials.email" required>
      <span ng-show="loginForm.email.$touched && loginForm.email.$invalid" class="error">Valid email required.</span>
    </div>

    <div class="mb-3">
      <label>Password:</label>
      <input type="password" class="form-control" name="password" ng-model="credentials.password" required>
      <span ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="error">Password is required.</span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <div class="alert alert-danger" ng-if="error">{{ error }}</div>
  </form>
  <p class="text-center"><a href="#/forgot-password">Forgot Password?</a></p>
</div>
